* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}

body {
    font-family: 'Inconsolata', monospace;
}

.screen {
    background: linear-gradient(to right , #73D7FF, #55ceff ,#73D7FF);
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.weather-info {
    padding-left: 5vw;
    display: flex;
    flex-direction: column;
    height: 15vh;
}

.city-name {
    padding-left: 10vw;
    font-size: 2.5em;
}

h3 {
    font-size: 2.5em;
}

.description {
    text-transform: capitalize;
    margin: .1em 0 .3em 0;
}

h4 {
    font-size: 1.2em;;
}

.forecast-container {
    width: 95vw;
    height: 25vh;
    background-color: #00abf0;
    border-radius: 15px;
    margin: .3vh auto 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

ul li {
    padding: .2vh 5vw;
    margin: 1vh 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.small {
    transform: scale(.75);
}

.additional-wrapper{
    width: 98%;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    margin: 1vh auto;
}

.additional-item {
    background-color: #00abf0;
    border-radius: 15px;
    width: 95%;
    height: 95%;
    padding: 2em 2em 3em 2em;
    text-align: center;
    place-self: center;
}

.sunrise {
    color: #ffa700;
}

.sunset {
    color: #ee5d6c;
}

.humidity {
    color: #def4fc;
}

.wind {
    color: #9affda;
}

.additional-text {
    margin: .2em auto;
    font-weight: bold;
}

footer {
    text-align: center;
    
}