* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 100;
}

body {
    font-family: 'Inconsolata', monospace;
}

.screen {
    background: linear-gradient(to right , #73D7FF, #55ceff ,#73D7FF);
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
    position: relative;
    max-width: 35em;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-section {
    display: flex;
    justify-content: space-between;
    height: 15vh;
}

.icon-container {
    position: absolute;
    right: 7%;
    top: 7.7%;
}

.weather-info {
    padding-left: 9%;
    display: flex;
    flex-direction: column;
    
}

.city-name {
    font-size: 2.5em;
    font-weight: 600;
}

h3 {
    font-size: 2.5em;
}

.description {
    text-transform: capitalize;
    margin: .2em 0 .5em 0;
}

h4 {
    font-size: 1.2em;;
}

.forecast-container {
    width: 95%;
    height: 25vh;
    background-color: #00abf0;
    border-radius: 15px;
    margin: .3vh auto 1vh;
    
    max-width: 30em;
    max-height: 15em;
}


.forecast-item {
    margin: 0 .5em;
}

.forecast-icon {
    width: 1.2em;
    height: 1.2em;
}


.green {
    color: lightgreen;
    font-size: 1.2em;
}

.humid {
    font-size: .7em;
}

ul {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 1em 1em;
}

ul li {
    margin: .2em;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.additional-wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 0 8px;
    margin: 1vh auto;
}

.additional-item {
    background-color: #00abf0;
    border-radius: 15px;
    width: 95%;
    height: 95%;
    padding: 2em 2em 3em 2em;
    text-align: center;
    align-self: center;
    max-width: 14.5em;
    max-height: 14.5em;
}

.item-1, .item-3 {
    justify-self: end;
}

.item-2, .item-4 {
    justify-self: start;
}

.sunrise {
    color: #ffa700;
}

.sunset {
    color: #ee5d6c;
}

.humidity {
    color: #def4fc;
}

.wind {
    color: #9affda;
}

.additional-text {
    margin: .2em auto;
    font-weight: bold;
}

footer {
    text-align: center;
}



@media screen and (height > 700px) {
    footer{
        margin-top: 2vh;
    }
}

@media screen and (height > 800px)  {
    .city-name{
        font-size: 3em;
    }

    .icon-container {
        transform: scale(1.15);
    }

    .forecast-container {
        margin-top: 2vh;
    }


    .additional-wrapper {
        margin: 2.5vh auto;
    }

    h4 {
        font-size: 1.5em;
    }

    .description {
        margin: .4em 0 .7em 0;
    }

    p, li {
        font-size: 1.2em;
    }

    footer {
        margin-top: 3vh;
    }

}